In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
#import data
attribution_data = pd.read_csv('attribution_allocation_student_data.csv')
channel_spend = pd.read_csv('channel_spend_student_data.csv')

tier1_spending_dict = {'social': 50, 'organic_search': 0, 'referral': 50, 'email': 50, 'paid_search': 50, 'display': 50, 'direct': 0}
tier2_spending_dict = {'social': 100, 'organic_search': 0, 'referral': 100, 'email': 100, 'paid_search': 100, 'display': 100, 'direct': 0}
tier3_spending_dict = {'social': 150, 'organic_search': 0, 'referral': 150, 'email': 150, 'paid_search': 150, 'display': 150, 'direct': 0}
total_spending_dict = {'social': 300, 'organic_search': 0, 'referral': 300, 'email': 300, 'paid_search': 300, 'display': 300, 'direct': 0}

#extract conversion data
convert_df = attribution_data.loc[attribution_data.convert_TF==True]

In [12]:
value = []
for record in convert_df.tier:
    if record==1:
        value.append(50)
    elif record==2:
        value.append(100)
    else:
        value.append(150)

In [13]:
convert_df['value']=value

C:\Users\yghfl\Anaconda3\envs\R+python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [233]:
def channel_extraction(df,index):
    records = df.iloc[index,].isna()
    data =  convert_df.iloc[index,]
    channels = []
    for i in range(1,6):
        if records[i]!=1:
            channels.append(data[i])
    return channels

In [68]:
channels_info=[]
for index in range(len(convert_df)):
    channels_info.append(channel_extraction(convert_df,index))

In [71]:
#two attribution models
last_interaction = [record[-1] for record in channels_info] 
first_interaction = [record[0] for record in channels_info]

In [83]:
#last_non_click model
last_non_click=[]
for record in channels_info:
    try:
        if record[-1]!='direct':
            last_non_click.append(record[-1])
        else:
            last_non_click.append(record[-2])
    except:
        last_non_click.append(None)

In [180]:
linear_model_dict

{'social': 0,
 'organic_search': 0,
 'referral': 0,
 'email': 0,
 'paid_search': 0,
 'display': 0,
 'direct': 0}

In [88]:
convert_df['last_interaction']=last_interaction
convert_df['first_interaction']=first_interaction
convert_df['last_non_click']=last_non_click

C:\Users\yghfl\Anaconda3\envs\R+python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\yghfl\Anaconda3\envs\R+python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\yghfl\Anaconda3\envs\R+python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [89]:
# split tiers
tier1_df = convert_df.loc[convert_df.tier==1]
tier2_df = convert_df.loc[convert_df.tier==2]
tier3_df = convert_df.loc[convert_df.tier==3]

In [172]:
def attribution_model(method,df,tier_dict):
    df_1 = df[['value',method]]
    gb_df = df_1 .groupby(method).agg(len)

    gb_df['cost']=[tier_dict[record] for record in gb_df.index]
    gb_df['CAC'] = gb_df.cost/gb_df.value
    return gb_df

### Tier 1

In [132]:
#tier1_last_interaction
tier1_last_inter = attribution_model('last_interaction',tier1_df,tier1_spending_dict)

In [133]:
tier1_last_inter.sort_values('CAC',ascending=False)

                  value  cost        CAC
last_interaction
referral              1    50  50.000000
paid_search           2    50  25.000000
social               58    50   0.862069
email                65    50   0.769231
display              72    50   0.694444
direct              122     0   0.000000
organic_search      121     0   0.000000

In [143]:
#tier1_first_interaction
tier1_first_inter = attribution_model('first_interaction',tier1_df,tier1_spending_dict)

In [138]:
tier1_first_inter.sort_values('CAC',ascending=False)

                   value  cost        CAC
first_interaction
paid_search            2    50  25.000000
referral               2    50  25.000000
email                 67    50   0.746269
social                71    50   0.704225
display               92    50   0.543478
direct                94     0   0.000000
organic_search       113     0   0.000000

In [141]:
#tier1_last_nonclick
tier1_non_click = attribution_model('last_non_click',tier1_df,tier1_spending_dict)

In [142]:
tier1_non_click.sort_values('CAC',ascending=False)

                value  cost        CAC
last_non_click
referral            2    50  25.000000
paid_search         3    50  16.666667
email              80    50   0.625000
social             83    50   0.602410
display           100    50   0.500000
organic_search    163     0   0.000000

### Tier2

In [152]:
#tier2_last_interaction
tier2_last_inter = attribution_model('last_interaction',tier2_df,tier2_spending_dict)

In [153]:
tier2_last_inter.sort_values('CAC',ascending=False)

                  value  cost        CAC
last_interaction
paid_search           2   100  50.000000
referral              2   100  50.000000
email                99   100   1.010101
social              129   100   0.775194
display             159   100   0.628931
direct              197     0   0.000000
organic_search      223     0   0.000000

In [154]:
#tier2_first_interaction
tier2_first_inter = attribution_model('last_interaction',tier2_df,tier2_spending_dict)

In [155]:
tier2_first_inter.sort_values('CAC',ascending=False)

                  value  cost        CAC
last_interaction
paid_search           2   100  50.000000
referral              2   100  50.000000
email                99   100   1.010101
social              129   100   0.775194
display             159   100   0.628931
direct              197     0   0.000000
organic_search      223     0   0.000000

In [156]:
#tier2_last_nonclick
tier_non_click = attribution_model('last_non_click',tier2_df,tier2_spending_dict)

In [157]:
tier_non_click.sort_values('CAC',ascending=False)

                value  cost        CAC
last_non_click
paid_search         2   100  50.000000
referral            4   100  25.000000
email             130   100   0.769231
social            166   100   0.602410
display           199   100   0.502513
organic_search    298     0   0.000000

## Tier3

In [160]:
tier3_last_inter = attribution_model('last_interaction',tier3_df,tier3_spending_dict)

In [161]:
tier3_last_inter.sort_values('CAC',ascending=False)

                  value  cost        CAC
last_interaction
referral              7   150  21.428571
paid_search           8   150  18.750000
email               159   150   0.943396
social              165   150   0.909091
display             175   150   0.857143
direct              294     0   0.000000
organic_search      318     0   0.000000

In [162]:
tier3_first_inter = attribution_model('first_interaction',tier3_df,tier3_spending_dict)

In [163]:
tier3_first_inter.sort_values('CAC',ascending=False)

                   value  cost        CAC
first_interaction
paid_search            5   150  30.000000
referral               7   150  21.428571
social               151   150   0.993377
email                174   150   0.862069
display              175   150   0.857143
direct               285     0   0.000000
organic_search       329     0   0.000000

In [164]:
tier3_non_click = attribution_model('last_non_click',tier3_df,tier3_spending_dict)
tier3_non_click.sort_values('CAC',ascending=False)

                value  cost        CAC
last_non_click
referral            8   150  18.750000
paid_search         9   150  16.666667
social            205   150   0.731707
email             216   150   0.694444
display           226   150   0.663717
organic_search    435     0   0.000000

## total

In [166]:
convert_df.columns

Index(['convert_TF', 'touch_1', 'touch_2', 'touch_3', 'touch_4', 'touch_5',
       'tier', 'value', 'last_interaction', 'first_interaction',
       'last_non_click'],
      dtype='object')

In [173]:
attribution_model('last_interaction',convert_df,total_spending_dict).sort_values('CAC',ascending=False)

                  value  cost        CAC
last_interaction
referral             10   300  30.000000
paid_search          12   300  25.000000
email               323   300   0.928793
social              352   300   0.852273
display             406   300   0.738916
direct              613     0   0.000000
organic_search      662     0   0.000000

In [174]:
attribution_model('first_interaction',convert_df,total_spending_dict).sort_values('CAC',ascending=False)

                   value  cost        CAC
first_interaction
referral              10   300  30.000000
paid_search           12   300  25.000000
social               340   300   0.882353
email                357   300   0.840336
display              434   300   0.691244
direct               550     0   0.000000
organic_search       675     0   0.000000

In [175]:
attribution_model('last_non_click',convert_df,total_spending_dict).sort_values('CAC',ascending=False)

                value  cost        CAC
last_non_click
paid_search        14   300  21.428571
referral           14   300  21.428571
email             426   300   0.704225
social            454   300   0.660793
display           525   300   0.571429
organic_search    896     0   0.000000

In [260]:
# linear model
def linear_model(channel_list,spending_dict):
    linear_dict = {k:0 for k in total_spending_dict.keys()}
    for record in channel_list:
        for channels in record:
            for channel in linear_dict.keys():
                if channel==channels:
                    linear_dict[channel]+=(1/len(record))
    linear_df = pd.DataFrame(linear_dict,index=linear_dict.keys()).T
    linear_df=linear_df[['social']]
    linear_df.columns = ['numbers']
    linear_df['cost']=[spending_dict[record] for record in linear_df.index]
    linear_df['CAC']=linear_df.cost/linear_df.numbers
    return linear_df

In [261]:
#linear model
## total  linear model
total_linear_df=linear_model(channels_info,total_spending_dict)

In [262]:
total_linear_df.sort_values('CAC',ascending=False)

                   numbers  cost        CAC
referral         10.283333   300  29.173420
paid_search      10.566667   300  28.391167
email           337.616667   300   0.888582
social          353.166667   300   0.849457
display         416.666667   300   0.720000
organic_search  667.333333     0   0.000000
direct          582.366667     0   0.000000

In [264]:
## tier1 linear models
channels_1=[channel_extraction(tier1_df,index) for  index in range(len(tier1_df))]
tier1_linear_df=linear_model(channels_1,tier1_spending_dict)
tier1_linear_df.sort_values('CAC',ascending=False)

                   numbers  cost        CAC
referral          1.333333    50  37.500000
paid_search       2.150000    50  23.255814
email            62.716667    50   0.797236
social           68.583333    50   0.729040
display          85.916667    50   0.581959
organic_search  117.633333     0   0.000000
direct          102.666667     0   0.000000

In [265]:
## tier2 linear models
channels_2=[channel_extraction(tier2_df,index) for  index in range(len(tier2_df))]
tier2_linear_df=linear_model(channels_2,tier2_spending_dict)
tier2_linear_df.sort_values('CAC',ascending=False)

                   numbers  cost        CAC
referral          1.200000   100  83.333333
paid_search       3.616667   100  27.649770
email           106.350000   100   0.940291
social          119.566667   100   0.836353
display         137.266667   100   0.728509
organic_search  179.416667     0   0.000000
direct          133.500000     0   0.000000

In [266]:
## tier3 linear models
channels_3=[channel_extraction(tier3_df,index) for  index in range(len(tier3_df))]
tier3_linear_df=linear_model(channels_3,tier3_spending_dict)
tier3_linear_df.sort_values('CAC',ascending=False)

                   numbers  cost        CAC
referral          3.283333   150  45.685279
paid_search       4.233333   150  35.433071
email           131.116667   150   1.144019
social          158.500000   150   0.946372
display         190.583333   150   0.787057
organic_search  259.666667     0   0.000000
direct          202.033333     0   0.000000